@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #080f0f;
  --secondary-color: #048ba8;
  --accent-color: #08992c;
  --shadow-color: #181b1b;
  --text-color: #fafffd;
  --neutral-color: #b8f2e6;
  --primary-btn-color: #f24c00;
  --error-color: #ff4242;
  --success-color: #44af69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

#root {
  width: 100%;
  min-height: 100dvh;
  padding: 120px 0 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  background: linear-gradient(180deg, rgba(4, 139, 168, 1) 1%, rgba(8, 15, 15, 1) 60%);
}

.page-headline {
  max-width: 90%;
  font-size: 2.5rem;
  text-align: center;
}

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.hero-intro-wrapper {
  /* display: none; */
  max-width: min(90%, 1600px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-headline {
  margin-bottom: 20px;
  font-size: clamp(4rem, 5vw, 6rem);
  text-align: center;
  background: linear-gradient(to right, var(--neutral-color), var(--accent-color));
  -webkit-background-clip: text;
  user-select: none;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  filter: brightness(200%);
}

.hero-subline {
  width: min(90%, 1050px);
  margin: auto;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 200;
  user-select: none;
}

.hero-btn {
  margin-top: 100px;
  padding: 10px 50px !important;
  font-size: 2rem !important;
  border-radius: 50px !important;
}

.hero-video {
  width: 110vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  opacity: 1;
  object-fit: cover;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.service-overview {
  width: 95%;
  padding: 40px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  color: var(--text-color);
  background-color: var(--primary-color);
  position: relative;
}

.service-overview::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 50px;
  z-index: -1;
  animation: gradientAnimation 7s ease infinite;
  background: linear-gradient(270deg, #048ba8, #f24c00, #f24c00, #048ba8);
  background-size: 400% 400%;
}

.service-overview-main-header {
  font-size: 2.3rem;
}

.service-overview-sub-header {
  font-size: 1.5rem;
  margin: 50px 0 7px 0;
  color: var(--neutral-color);
}

.service-overview-text {
  width: min(90%, 1200px);
  line-height: 1.25rem;
}

.information-cards {
  margin: auto;
  width: 100%;
  padding: 40px;
  row-gap: 60px;
  display: flex;
  flex-direction: column;
}

.information-cards .information-card:nth-child(2),
.information-cards .information-card:nth-child(4) {
  align-self: flex-end;
}

.information-card {
  width: min(100%, 800px);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgba(24, 27, 27, 0.42);
  border-radius: 20px;
  box-shadow: 0px 0px 5px var(--neutral-color);
  backdrop-filter: blur(9px);
}

.information-card-headline {
  font-size: 2rem;
  display: flex;
}

.information-card-icon {
  display: flex;
  justify-content: flex-end;
}

.information-card-text {
  font-size: 1.4rem;
  margin: 40px 0 0 0;
  grid-column: 1/3;
  color: var(--text-color);
}

h1,
h2,
h3 p {
  color: var(--text-color);
}

.error {
  color: var(--error-color);
}

.hidden {
  display: none !important;
}

.color-neutral {
  color: var(--neutral-color);
}

.color-accent {
  color: var(--accent-color);
}

.color-orange {
  color: var(--primary-btn-color);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
