button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn {
  width: fit-content;
  padding: 6px 16px;
  font-size: 1.2rem;
  border-radius: 20px;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  outline: none;
  border: 0;
  filter: brightness(80%);
  transform: translate(0);
}

.btn-primary {
  background: linear-gradient(100deg, var(--primary-btn-color) 10%, var(--secondary-color) 90%);
}

.btn-secondary {
  background: linear-gradient(to right, var(--accent-color) 20%, var(--secondary-color) 70%);
}

.btn-check {
  border: 1px solid var(--neutral-color);
}

.btn-check-selected {
  background: linear-gradient(to right, var(--accent-color) 20%, var(--success-color) 70%);
}

.btn-check:hover,
.btn-check:focus {
  border: 1px solid var(--neutral-color);
}
