input:focus ~ label,
input:valid ~ label {
  top: -1rem;
  font-size: 1rem;
  opacity: 0.4;
}

.password-toggle:hover,
.password-toggle:focus {
  transform: translate(0);
}

.dropdown {
  width: 100%;
  height: 70px;
  padding: 30px;
  border-radius: 20px;
  color: var(--text-color);
  background-color: var(--shadow-color);
  position: relative;
}

.dropdown-toggle {
  position: absolute;
  right: 20px;
  top: 55%;
  transform: translateY(-50%);
  z-index: 1000;
}

.drop-down-display {
  width: 80%;
  font-size: 1.2rem;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-list-wrapper {
  width: 100%;
  min-height: 300px;
  padding: 20px 30px;
  position: absolute;
  left: 0;
  z-index: 100;
  overflow-y: auto;
  border-radius: 20px;
  background-color: var(--shadow-color);
}

.drop-down-list {
  width: 90%;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  list-style-type: none;
}

.drop-down-list-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.drop-down-list-item:hover,
.drop-down-list-item:focus {
  color: var(--neutral-color);
}

@media (max-width: 475px) {
  .dropdown {
    height: 80px;
  }
}
