:root {
  --primary-color: #080f0f;
  --secondary-color: #048ba8;
  --accent-color: #08992c;
  --shadow-color: #181b1b;
  --text-color: #fafffd;
  --neutral-color: #b8f2e6;
  --primary-btn-color: #f24c00;
  --error-color: #ff4242;
  --success-color: #44af69;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(4, 139, 168, 1) 1%, rgba(8, 15, 15, 1) 60%);
  position: relative;
}

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.hero-intro-wrapper {
  max-width: min(90%, 1600px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-headline {
  font-size: clamp(4rem, 5vw, 6rem);
  text-align: center;
  color: var(--text-color);
}

.hero-subline {
  margin: auto;
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 200;
  width: min(90%, 1050px);
}

.hero-btn {
  margin-top: 100px;
  padding: 10px 50px !important;
  font-size: 2rem !important;
  border-radius: 50px !important;
}

.hero-video {
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 1;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.information-cards {
  margin: auto;
  width: 100%;
  padding: 40px;
  row-gap: 60px;
  display: flex;
  flex-direction: column;
}

.information-cards .information-card:nth-child(2),
.information-cards .information-card:nth-child(4) {
  align-self: flex-end;
}

.information-card {
  width: min(100%, 800px);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: rgba(24, 27, 27, 0.42);
  border-radius: 20px;
  box-shadow: 0px 0px 5px var(--neutral-color);
  backdrop-filter: blur(9px);
}

.information-card-headline {
  font-size: 2rem;
  display: flex;
}

.information-card-icon {
  display: flex;
  justify-content: flex-end;
}

.information-card-text {
  font-size: 1.4rem;
  margin: 40px 0 0 0;
  grid-column: 1/3;
  color: var(--text-color);
}

.error {
  color: var(--error-color);
}
